/* CSS declarations go here */
body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: linear-gradient(to bottom, #c4d4fe, #2f68fc 100%);
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding-top: 120px;
  margin: 0;
 
  font-size: 14px;

  overflow:scroll;
}

a{
  color:#4b4b50;
}

h4{
  font-size: 0.5em;
}

.menuhome{
  float:right;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.menuprofile{
  float:right;
  margin:2px ;
  margin-right: 15px;
  font-size: 1.2em;
}

.menulogin{
  float: left;
  font-size: 1.2em;
}

.hideOverflow {
    overflow:hidden;
}

#inputform {
  height: 60px;
}

.btn-default {
	border-radius: 8px;
	border: 0px;
	background-image: linear-gradient(to bottom, #579ad1, #315481 100%);
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.button{
  background-color: #0ad790;
  color:#4b4b50;
  font-size: 3em;
  border:0px;
  border-radius: 8px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.button:hover{
  background-color: #09bf80;
  color: #4b4b50;
}

.button:visited{
  background-color: #a5fe62;
  color: #4b4b50;
}

.button:active{
  background-color: #a5fe62;
  color: #4b4b50;
}

#formopenbutton{
	height: 60px;
  background-color: #f89668;
  width: 100%;
	border-radius: 8px;
	border: 0px;
  float: right;
	color: #4b4b50;
  /*color: white;*/
	font-size: 1.6em;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
} 
#formopenbutton:hover{
  background-color: #f67437;
}

.plan-submit-btn{
  width: 100%;
}

.chat-submit{
  height: 60px;
}

.chat-button{
  background-color: #0befa0;
  border: 0px;
  font-size: 20px;
  float: right;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  width: 150px;
}

.chat-button:hover{
  background-color: #0ad790;
}

.panel{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.plan-chat-panel{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
    border-radius: 3px;
  border: 0px;

}

.postdiv{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 0px;
  margin-bottom: 10px;
  padding: 0px;
    border-radius: 3px;
  border: 0px;

}
 
.single-plan-controls{
  margin-bottom: 15px;
}

.single-plan-join{
  margin: 10px;
}

.single-plan-delete{
  margin: 10px;
}

.single-plan-back{
  margin: 10px;
  border-radius: 3px;
  border: 0px;
}

header {
  /*background-image: url("../seatingplan.jpg");*/
  background-size: 130%;
  padding: 20px 15px 15px 15px;
  position: relative;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
 
#login-buttons {
  display: block;
  color: white;
}
 
h1 {
  font-size: 2.5em;
  color:#4b4b50;
  display: inline-block;
}

h3{
	color: #4b4b50;
  font-size: 1.2em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: white;
  
}
 
.new-task{
  color: white;
}

.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}

.view-button{
  float:right;
  margin-right: 10px;
  border-radius: 3px;
  border: 0px;
} 

.join {
  float: right;
  border-radius: 3px;
  border: 0px;
}

.delete {
  float: right;
  border-radius: 3px;
  border: 0px;
}
 
li {
  
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 0px;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}

#plan-date{
  background: white;
  color: grey;

}

.profilename{
  font-size: 1.6em;
  padding-left: 15px;
}

.profilephoto{
  margin-bottom: 15px;
}

#profpic{
  width: 200px;
}

#navpic{
  float:left;
}

.navbar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postdiv{
  background: #00FFFFFF;
}

.topmenu{
  padding-top:5px;
  padding-bottom: 10px;
  background-color: white;
  height:60px;
}

.bottommenu{
  width: 100%;
  height: 35px;
  padding-top:0px;
  padding-bottom: 8px;
  background-color: white;
}

.menubuttons{
  float:right;
  font-size: 1.3em;
}

#loginbtns{
  margin:20px;
  padding-left: 40px;
  font-size: 1.4em;
}

.img-circle {
    border-radius: 50%;
    width: 50px;
}

.affix-top {
    /* Initial items */
}

.affix {
    top:0px;
    right:0;
    position:fixed;
}

.glyphicon-user{
  margin-left: 10px;
}

.glyphicon-record{
  margin-left: 10px;
}

#aboutpic{
  width: 100%;
  height: auto;
  padding: 10px;
}

.aboutpost{
  padding: 10px;
}